<div class="col-lg-6 scrollable scrollbar-light-blue">
  <ul>
    <% @tweets.reverse.each do |tweet| %>
      <p class="tweet_left_options">
        <% if current_user.id != tweet.user.id %> 
          <% if current_user.following?(tweet.user) %>
              <%= link_to "Unfollow", relationships_path(user_id: tweet.user), data: { remote: true, type: :json, method: :delete }, :class => "follow-btn btn btn-outline-primary rounded-pill" %>
            <% else %>
              <%= link_to "Follow", relationships_path(user_id: tweet.user), data: { remote: true, type: :json, method: :post }, :class => "follow-btn btn btn-outline-primary rounded-pill" %>
          <% end %>
          <br>
        <% end %>
      </p>


      <strong><%= link_to tweet.user.email, thisuser_path(tweet.user_id) %></strong>
      <br>
              <%= tweets_index_avatar(tweet) %>
      <strong>@<%= tweet.user.handle %></strong>
      <p class="text-muted date-small">Joined <%= tweet.user.created_at.strftime("%d %b %Y") %></p>
      <br>
      <br>
      <br>
             <p><%= tweet.content %></p>
      <br>
      <br>
      <b>Tweeted </b><%= time_ago_in_words(tweet.created_at) %> ago
      <br>
      <br>
    
      <p class="tweet_left_options text-small"><%= link_to 'Show Tweet', tweet, :style => "float:right" %></p>

      <!-- like buttons -->

      <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= link_to 'Unlike', tweet_like_path(tweet, pre_like), data: { remote: true, type: :json, method: :delete }, :class => "like-btn btn btn-primary btn-sm", :style => "float:left" %>
        <% else %>
          <%= link_to 'Like', tweet_likes_path(tweet), data: { remote: true, type: :json, method: :post }, :class => "like-btn btn btn-primary btn-sm", :style => "float:left" %>
      <% end %> 



      <p class="tweet_left_options text-small"><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes' %>&nbsp;&nbsp;<%= tweet.comments.count %> <%= (tweet.comments.count) == 1 ? 'Comment' : 'Comments' %></p>
      <br>
      <br>

       <!-- comments -->
      <% tweet.comments.reverse.each do |comment| %>
        <p class="text-small" style="padding-left: 30px">
          <b><%= comment.user.username %>&nbsp;&nbsp;@<%= comment.user.handle %>&nbsp;&nbsp;<%= comment_avatar(comment) %></b>
          <br>
          <br>
          <%= comment.body %>
          <br>
          <br>
          Replied <%= time_ago_in_words(comment.created_at) %> ago
          <hr />
        </p>
      <% end %>
      <hr/>
    <% end %>
  </ul>
</div>
</div>

