<div class="container">
  <br>
  <br>
  <b>Your followers</b>
  <br>
  <br>
  <% current_user.followers.each do |follower| %>
    <%= follower.username %>
    <%= follower_list_avatar(follower) %><br>
    &nbsp;&nbsp;&nbsp;<b>@<%= follower.handle %></b><br><br>
    <%= follower.about %>
    <br>
    <br />
    <hr />
  <% end %>
  <br>
  <%= link_to "Return", tweets_path, class: "btn btn-primary" %>
  <br>
  <br>
</div>