<div class="container-fluid">
  <div class="row vertical-divider">
    <div class="col-lg-6">
      <br>
      <br>
      <b>Following</b>
      <br>
      <br>
      <% current_user.following.each do |following| %>
        <%= following.username %>
        <%= following_list_avatar(following) %>
        &nbsp;&nbsp;&nbsp;<b>@<%= following.handle %></b>
        <%= link_to "Profile", followinguser_path(following.id), class: "btn btn-outline-primary rounded-pill tweet_left_options" %>
        <br />
        <%= following.about %>
        <hr />
      <% end %>
      <br>
      <%= link_to "Return", tweets_path, class: "btn btn-primary" %>
      <br>
      <br>
    </div>
    <div class="col-lg-6">
      <br>
      <br>
      <b><h2>Latest tweets from users you are following</h2></b>
      <br>
      <div class="scrollable scrollbar-light-blue">
      <% current_user.following.each do |following| %>
        <% following.tweets.reverse.each do |tweet| %>
          <%= following_list_avatar(following) %>
          <%= tweet.user.username %>
          <b>@<%= tweet.user.handle %></b>
          <br>
          <%= tweet.content %>
          <br>
          <%= link_to "Reply", tweet_path(tweet.id) %>
          <br>
          <p class="text-small"><b>Tweeted </b> <%= time_ago_in_words(tweet.created_at) %> ago</p>
          <hr />
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
