
<div class="container-fluid">
  <div class="row vertical-divider">
    <div class="col-lg-6">
      <% if user_signed_in? %>
      <p><h3><%= current_user.username %></h3>
            @<%= current_user.handle %></p>
      <br>
        <% if current_user.tweets.count == 1 %>
          <b><%= current_user.tweets.count %></b> Tweet
        <% else %>
          <b><%= current_user.tweets.count %></b> Tweets
        <% end %>
      <br>
      <br>
      <hr/>



        <% if current_user.followers.count == 1 %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "follower", 'tweets/followers' %></u></p>
          <% else %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "followers", 'tweets/followers' %></u></p>
        <% end %>

        <% if current_user.following.count == 1 %>
        <p>You are <u><%= link_to "following", 'tweets/following' %></u> <b><%= current_user.following.count %></b> other member
        </b></p>
          <% else %>
        <p>You are <u><%= link_to "following", 'tweets/following' %></u> <b><%= current_user.following.count %></b> other members</b></p>
        <% end %>


      <% end %>



      <br>
      <br>
      <%= button_to "Tweet", new_tweet_path(@tweet), method: :get, class: "btn-outline-primary btn rounded-pill" %>
      <br>
      <br>
      
      <%= render partial: 'tweets_index' %>

      <div class="col-lg-6">
        <%= render partial: '/users/search_index' %>
        <hr />
        <%= render partial: '/shared/chart1' %>
        <hr />
        <%= render partial: 'follower' %>
        <hr />
        <%= render partial: 'following' %>
        <hr />
      </div>
      <div class = "testjs"></div>
    </div>
</div>


