
<div class="container-fluid">
  <div class="row vertical-divider">
    <div class="col-lg-6">
      <% if user_signed_in? %>
      <br>
        <div class="row">
          <div class="col-3">
          <!-- helper, avatar on index page, see application_helper.rb -->
            <%= link_to thisuser_path(current_user.id) do %>
              <%= index_avatar (@index_image) %>
            <% end %>
          </div>
          <div class="col-8">
            <%= render partial: 'index_tweet_form' %>
          </div>
        </div>
        <%= tweeted_num_text (@counted_tweets) %>
        <hr/>



        <% if current_user.followers.count == 1 %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "follower", 'tweets/followers' %></u></p>
          <% else %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "followers", 'tweets/followers' %></u></p>
        <% end %>



        <% if current_user.following.count == 1 %>
          <p class="inline">You are <u><%= link_to "following", 'tweets/following' %></u> <b><div id="following_count" class="inline">&nbsp;<%= current_user.following.count %></div></b>&nbsp;other member
          </b></p>
            <% else %>
          <p class="inline">You are <u><%= link_to "following", 'tweets/following' %></u> <b><div id="following_count" class="inline">&nbsp;<%= current_user.following.count %></div></b>&nbsp;other members</p>
        <% end %>



      <% end %>

      
        <%= render partial: 'search_tweets' %>
        
        <%= render partial: 'tweets_index', locals: { tweets: @tweets } %>

      <div class="col-lg-6">
        <%= render partial: '/shared/chart1' %>
        <hr />
        <%= render partial: 'follower' %>
        <hr />
        <%= render partial: 'following' %>
        <hr />
      </div>
    </div>
  </div>
</div>


