
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <% if user_signed_in? %>
      <p><h3><%= current_user.username %></h3>
            @<%= current_user.handle %></p>
      <br>
        <% if current_user.tweets.count == 1 %>
          <b><%= current_user.tweets.count %></b> Tweet
        <% else %>
          <b><%= current_user.tweets.count %></b> Tweets
        <% end %>
      <br>
      <br>
      <hr/>



        <% if current_user.followers.count == 1 %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "follower", 'tweets/followers' %></u></p>
          <% else %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "followers", 'tweets/followers' %></u></p>
        <% end %>

        <% if current_user.following.count == 1 %>
        <p>You are <u><%= link_to "following", 'tweets/following' %></u> <b><%= current_user.following.count %></b> other member
        </b></p>
        <% else %>
        <p>You are <u><%= link_to "following", 'tweets/following' %></u> <b><%= current_user.following.count %></b> other members</b></p>
        <% end %>


      <% end %>



      <br>
      <br>
      <%= button_to "Create Tweet", new_tweet_path(@tweet), method: :get, class: "btn btn-primary" %>
      <br>
      <br>
      <ul>
        <% @tweets.reverse.each do |tweet| %>
        <strong><%= link_to tweet.user.email, thisuser_path(tweet.user_id) %></strong>
        <br>
        <strong>@<%= tweet.user.handle %></strong>
        <br>
        <br>
              <p><%= tweet.content %></p>
        <br>
        <br>
        <b>Tweeted on </b><%= tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>
        <br>
        <br>
           <%= link_to 'Show Tweet', tweet %>


           <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id} %>
             <% if pre_like %>
               <%= button_to 'Unlike', tweet_like_path(tweet, pre_like), method: :delete, :class => "btn btn-primary btn-sm", :style => "float:left" %>
             <% else %>
               <%= button_to 'Like', tweet_likes_path(tweet), method: :post, :class => "btn btn-primary btn-sm", :style => "float:left" %>
             <% end %> 

             

        <p style="float:right"><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes' %></p>
        <br>
        <br>

           <% if current_user.id != tweet.user.id %> 
             <% if current_user.following?(tweet.user) %>
               <%= button_to "Unfollow", relationships_path(user_id: tweet.user), method: :delete, :class => "btn btn-primary" %>
             <% else %>
               <%= button_to "Follow", relationships_path(user_id: tweet.user), :class => "btn btn-primary" %>
            <% end %>
            <br>
           <% end %>
           <hr/>
          <% end %>
    </ul>

    </div>

      <div class="col-lg-6">
        <%= render partial: '/users/search_index' %>
        <hr />
        <%= render partial: 'follower' %>
        <hr />
        <%= render partial: 'following' %>  
     </div>
  </div>
</div>








