
<div class="container-fluid">
  <div class="row vertical-divider">
    <div class="col-lg-6">
      <% if user_signed_in? %>
      <br>
      <!-- helper, avatar on index page, see application_helper.rb -->
      <p class="inline"><%= index_avatar (@index_image) %>
        <h3>&nbsp;&nbsp;&nbsp;<%= current_user.username %></h3></p>
        <br />
        <br />
        <br />
            @<%= current_user.handle %>
      <br>
      <!-- helper, see application_helper.rb -->
      <%= tweeted_num_text (@counted_tweets) %>
      <br>
      <br>
      <hr/>



        <% if current_user.followers.count == 1 %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "follower", 'tweets/followers' %></u></p>
          <% else %>
        <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "followers", 'tweets/followers' %></u></p>
        <% end %>



        <% if current_user.following.count == 1 %>
        <p class="inline">You are <u><%= link_to "following", 'tweets/following' %></u> <b><div id="following_count" class="inline">&nbsp;<%= current_user.following.count %></div></b>&nbsp;other member
        </b></p>
          <% else %>
        <p class="inline">You are <u><%= link_to "following", 'tweets/following' %></u> <b><div id="following_count" class="inline">&nbsp;<%= current_user.following.count %></div></b>&nbsp;other members</b></p>
        <% end %>


      <% end %>



      <br>
      <br>
      <%= button_to "Tweet", new_tweet_path(@tweet), method: :get, class: "btn-outline-primary btn rounded-pill" %>
      <br>
      <br>
      
      <%= render partial: 'tweets_index' %>

      <div class="col-lg-6">
        <%= render partial: '/users/search_index' %>
        <hr />
        <%= render partial: '/shared/chart1' %>
        <hr />
        <%= render partial: 'follower' %>
        <hr />
        <%= render partial: 'following' %>
        <hr />
      </div>
    </div>
</div>


