
<div class="container">
  <% if user_signed_in? %>
    <h3><%= current_user.username %></h3>
    <p>You have <b><%= current_user.followers.count %></b> followers</p>
    <p>You follow <b><%= current_user.following.count %></b> other members</b></p> 
  <% end %>
<br>
<br>
  <%= button_to "Create Tweet", new_tweet_path(@tweet), method: :get, class: "btn btn-primary" %>
<br>
<br>

<ul>
  <% @tweets.reverse.each do |tweet| %>
    <strong><%= link_to tweet.user.email, thisuser_path(tweet.user_id) %></strong>
    <br>
    <strong>@<%= tweet.user.handle %></strong>
    <br>
    <br>
  <p><%= tweet.content %></p>
<br>
<br>
  <b>Tweeted on </b><%= tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>
<br>



— — — — — — — — — — — — — — — — — — — — — — — — — — — -
<br>


<% if current_user.id != tweet.user.id %> 
  <% if current_user.following?(tweet.user) %>
    <%= button_to "Unfollow", relationships_path(user_id: tweet.user), method: :delete, :class => "btn btn-primary" %>
  <% else %>
    <%= button_to "Follow", relationships_path(user_id: tweet.user), :class => "btn btn-primary" %>
  <% end %>
<br>
<br>
<% end %>
<%= link_to 'Show Tweet', tweet %>
<br>
<br>
<% end %>
</ul>

</div>

<%= render partial: 'follower' %>

<%= render partial: 'following' %>

#in progress
<%= search_form_for @q, url: thisuser_path(@users) do |f| %>
  <%= f.label :username %>
  <%= f.search_field :username %>
  <%= f.submit %>
<% end %>




