
<div class="container-fluid text-center">
  <br>

  <p><b>@<%= @tweet.user.handle %></b></p>
        <p class="text-muted">Joined <%= @tweet.user.created_at.strftime("%d %b %Y") %></p>
  <h1><%= @tweet.id %></h1>

  <p><%= @tweet.content %></p>
  <br>
  <br>
  <b>Tweeted </b><%= time_ago_in_words(@tweet.created_at) %> ago

  <br>
  <br>
  <% if current_user.id == @tweet.user.id %>
  <%= button_to 'Remove Tweet', tweet_path(@tweet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to "Return", tweets_path, class: "btn btn-primary" %>
  <br>
  <br>
</div>

