
<div class="container">
  <h1><%= @tweet.id %></h1>

  <p><%= @tweet.content %></p>
<br>
<br>
  <b>Tweeted on </b><%= @tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>

<br>
<br>
<% if current_user.id == @tweet.user.id %>
  <%= button_to 'Remove Tweet', tweet_path(@tweet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Return", tweets_path, class: "btn btn-primary" %>
</div>