
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <br>

      <p><%= tweets_index_avatar(@tweet) %><b>@<%= @tweet.user.handle %></b></p>
      <p><%= @tweet.content %></p>
      <p class="text-small small-text-grey">
        <% if @tweet.retweet_id? %>
          Retweeted
          <%= link_to thisuser_path(@tweet.source_user_id) do %>
            @<%= @tweet.username %>
          <% end %> 
          <%= time_ago_in_words(@tweet.created_at) %> ago
        <% else %>
          Tweeted <%= time_ago_in_words(@tweet.created_at) %> ago
        <% end %>
        <br>
        <% if current_user.id == @tweet.user.id %>
          <%= button_to 'Remove Tweet', tweet_path(@tweet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-primary" %>
        <% end %>
        <br>
        <br>
        <%= link_to '<i class="fas fa-retweet"></i>'.html_safe, retweet_tweet_path(@tweet.id), class: "btn btn-sm btn-primary rounded-pill", method: :post %>&nbsp;&nbsp;<%= @tweet.retweets.count %>
        </p>
      </hr>




      <hr />
      <%= form_for [@tweet, @comment], remote: true do |f| %>
        <%= f.text_area :body, :rows => 5, :placeholder => "Reply", style: 'width:100%;' %><br>
        <hr />
        <%= f.submit "Reply", class: "btn btn-sm btn-primary" %>
      <% end %>
      

      <br>

      <p class="tweet_left_options text-small"><div id="comment-count" class="inline"><%= @comments_count %></div>&nbsp;Replies</p>

      <div id="comment_pane">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>

