
<div class="container" %>
  <br />
  <strong>Search for users</strong>
  <br>
  <%= search_form_for @q, url: root_path do |f| %>
    <%= f.search_field :username_cont, placeholder: 'Name' %>
    <%= f.search_field :email_cont, placeholder: 'Email' %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
  <br>


  <table id="users" class="ml-2">
  <thead>
	<tr class="ml-2">
		<th style="padding:0 15px 0 15px;">User Name</th>
		<th style="padding:0 15px 0 15px;">Email</th>
	</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
	<tr class="ml-2">
		<td style="padding:0 15px 0 15px;"><%= user.username %></td>
		<td style="padding:0 15px 0 15px;"><%= user.email %></td>
	</tr>
	<% end %>
	</tbody>
  </table>
</div>