<h1>Home#index</h1>
<p>Fake Twitter</p>

<% @users.each do |user| %>
  <p><%= user.email %></p>
  <%= link_to user.email, user %>
   <%= user.tweets.each do |tweet| %>
  <p><%= tweet.content %>
  	<%= Tweet.first.created_at %>
  </p>
 <% end %>
<% end %>
