<div class="container">
  <p><h2><b><%= @user.username %>'s Profile</b></h2></p>
  <% if current_user.following?(@user) %>
  <div class="btn btn-success">Following @<%= @user.handle %></div>
  <% end %>
  <br>
  <br>
  <% unless current_user.following?(@user) %>
   <p>@<%= @user.handle %></p>
  <% end %>

  <% if current_user.id != @user.id %>
  <% if current_user.following? (@user) %>
    <%= button_to "Unfollow", relationships_path(user_id: @user), method: :delete, :class => "btn btn-primary" %>
  <% else %>
    <%= button_to "Follow", relationships_path(user_id: @user), :class => "btn btn-primary" %>
  <% end %>
  <% end %>
  <br>
  <br>
  <b><%= @user.tweets.count %></b> Tweets
  <hr/>
     <% @user.tweets.reverse.each do |tweet| %>
  <br>
  <br>
  <p><%= tweet.content %></p>
  <br>
  <br>
  <b>Tweeted on </b><%= tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>
  <br>
  <br>
      <% if current_user.id == tweet.user.id %>
      <%= button_to 'Remove Tweet', tweet_path(tweet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
  <hr/>
<% end %>
</div>