<!DOCTYPE html>
<html>
  <head>
    <title>FakeTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>


    <% if notice %>
    <div id="notice_wrapper">
      <p class="alert alert-success"><%= notice %>
        <button type="button" class="close" data-dismiss="alert">&times;</button><br>
      </p>
    </div>
    <% end %>
    <% if alert %>
    <div id="notice_wrapper">
      <p class="alert alert-danger text-center">
        <%= alert %>
      </p>
   </div>
   <% end %>

      <% if (user_signed_in?) %>
       
        <nav class="navbar">
          <%= link_to root_path, class: "navbar-item" do %>
            <h1>Twitter-lite</h1>
            <% if user_signed_in? %>
              <h4><%= link_to "Manage Account", edit_user_registration_path, class: "h7" %></h4>
              <%= button_to "Followers", tweets_following_path, :method => :get, class: "btn btn-followers" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "h7" %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: "h7" %>
            <% end %>
          <% end %>
        </nav>

        <% else %>

        <nav class="navbar-log-out">
            <h1>Twitter-lite</h1>
        </nav>

      <% end %>
  
    <%= yield %>

  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center page-header py-3">
      <b>Under Construction</b>
    </div>
  </footer>
 
  </body>
</html>
