<!DOCTYPE html>
<html>
  <head>
    <title>FakeTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    

    <% if flash[:notice] %>
      <p><%= notice %></p>   
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
   
    <nav class="navbar">
      <%= link_to root_path, class: "navbar-item" do %>
        <h1>Twitter</h1>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "h7" %>
      <% end %>
    </nav>



    <%= yield %>
  </body>
</html>
